body {
    background: rgb(139, 0, 0);
    color: rgb(245, 245, 169);
    margin: 0px;
    font-family: "DM Serif Text", serif;
    margin-bottom: 40px;
}

header { 
    border-bottom:solid 2px rgb(245, 245, 169);
    padding: 20px;
    font-size: 32px;
    color: rgb(245, 245, 169);
}

.chamada {
    background: rgb(136, 39, 39);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid yellow;
}

.categoria h2 {
    color:rgb(245, 245, 169);
}